{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: The BroadCast{% endblock %}
{% load static from staticfiles %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/contact.less" %}">
{% endblock %}
{% block content %}
<div id="contact">
	<section class="wrapper white-bg">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h2 class="section-title">CONTACT US</h2>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span8">
					<h1>Thanks</h1>
					<h2>We will get back to you shortly</h2>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}