{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: FEATURES - {{category.title}}{% endblock %}
{% load static from staticfiles %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/features.less" %}">
{% endblock %}
{% block content %}
<div id="features">
	<section class="main-title-wrap">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>{{category.title}}</h1>
				</div>
			</div>
		</div>
	</section>	
	
	<section class="wrapper">
		<div class="container">
			<div class="row">
				{% for cat in category.feature_set.all %}
				<div class="span12 feature-container">
					<div class="row">
						{% if cat.cover %}
						<div class="span6">
							<img src="/media/{{cat.cover}}" alt="{{cat.title}}" />
						</div>
						{% else %}
						<div class="span6">
							<img src="http://biglargehuge.com/media/features/2013/05/27/xblh-back-test.png.pagespeed.ic.Ez3269tBkM.png" alt="Big Large Huge" />
						</div>
						{% endif %}
						<div class="span5">
							<h5>{{cat.category}}</h5>
							<a href="{{ cat.get_absolute_url }}"><h2>{{cat.title}}</h2></a>
							<h3 class="gray">{{cat.subtitle}}</h3>
							<small class="yellow">{{cat.author|upper}} | {{cat.date|date:"SHORT_DATE_FORMAT"}} </small>
						</div>
					</div>
					<hr>
				</div>
				{% endfor %}
				<!--
<div class="pagination">
				    <span class="step-links">
				        {% if features.has_previous %}
				            <a href="?page={{ features.previous_page_number }}">previous</a>
				        {% endif %}
				
				        <span class="current">
				            Page <strong>{{ features.number }}</strong> of <strong>{{ features.paginator.num_pages }}</strong>
				        </span>
				
				        {% if features.has_next %}
				            <a href="?page={{ features.next_page_number }}">next</a>
				        {% endif %}
				    </span>
				</div>
-->
			</div>
			
		</div>
	</section>

</div>
{% endblock %}