{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: {{feature.category|upper}} - {{feature.title}}{% endblock %}
{% load disqus_tags %}
{% load static from staticfiles %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/features.less" %}">
{% endblock %}
{% block content %}
<div id="features">
	
	<section class="wrapper features-article">
		<div class="container">
			<div class="row">
				
				<div class="span12">
					{% if feature.cover %}
						<img class="feature-img" src="/media/{{feature.cover}}" alt="{{feature.title}}" />
					{% endif %}					
  				<div class="article-lead">
  					<h1>{{feature.title}}</h1>
  					<h2 class="gray">{{feature.subtitle}}</h2>
  				</div>				
				</div>	
								
				<div class="span12">
					{% include "share.html" %}
				</div>
				
				<div class="span12">
					<div class="feature-body">
						<small class="byline">{{feature.author}} | {{feature.date}} </small>
						{{feature.content|safe}}
					</div>
					{% disqus_show_comments %}
				</div>
			</div>
			
		</div>
	</section>

</div>
{% endblock %}