{% extends "header.html" %}
{% block headtitle %}FEATURES{% endblock %}

{% block content %}
<section id="detail-content" class="wrapper spaced">
	<div class="container">		
		<div class="row">
			{% if features %}
				{% for f in features %}
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						{% if f.cover %}
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="/media/{{f.cover}}" alt="{{f.title}}" />
						</div>
						{% else %}
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="http://biglargehuge.com/media/features/2013/05/27/xblh-back-test.png.pagespeed.ic.Ez3269tBkM.png" alt="Big Large Huge" />
						</div>
						{% endif %}
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<h5>{{f.category}}</h5>
							<a href="{{ f.get_absolute_url }}"><h2>{{f.title}}</h2></a>
							<h3 class="gray">{{f.subhead}}</h3>
							<small class="yellow">{{f.author|upper}} | {{f.date|date:"SHORT_DATE_FORMAT"}} </small>
						</div>
					</div>
					<hr>
				</div>
				{% endfor %}
			{% else %}
      <div class="no-results">
				<h1>No features yet.</h1>
		  </div>	
			{% endif %}
    </div>

		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        {% if features.has_previous %}
          <span class="pagination-previous"><a class="btn btn-lg btn-default" href="?page={{ features.previous_page_number }}">previous</a></span>
        {% endif %}			
			</div>

      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4">
        <p class="pagination-pages">Page <strong>{{ features.number }}</strong> of {{ features.paginator.num_pages }}</p>
      </div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        {% if features.has_next %}
          <span class="pagination-next"><a class="btn btn-lg btn-default" href="?page={{ features.next_page_number }}">next</a></span>
        {% endif %}
			</div>
      
    </div>    			
  </div>
</section>

{% endblock %}