{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: BIG 'OL ERROR - 404{% endblock %}
{% load static from staticfiles %}
{% block page-styles %}
	
{% endblock %}
{% block content %}
<div id="error404">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="mascot centered"></div>
					<h1>The dreaded <span class="white">404!</span></h1>
					<a class="btn btn-large btn-inverse" href="http://biglargehuge.com">Back to the homepage!</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}