{% extends "header.html" %}
{% load disqus_tags %}
{% block content %}		
<section id="detail-content" class="">
	<article class="">
		<div class="lead-img">
			<span><img src="{% block lead_img_src %}{% endblock %}" alt="{% block lead_img_alt %}{% endblock %}"></span>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<header class="detail-lead">
						<div class="category-title">{% block category_title %}{% endblock %}</div>
						<h1>{% block content_title %}{% endblock %}</h1>
						<h6 class="date">{% block date_tag %}{% endblock %}</h6>
						{% include "share.html" %}
					</header>
				</div>
				
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="detail-content">
						{% block detail-content %}{% endblock %}					
					</div>
				</div>
				
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					{% block article_sidebar %}{% endblock %}
				</div>
			</div>
			{% block new_bootstrap_row %}{% endblock %}
		</div>
	</article>
</section>		

{% block new_section %}{% endblock %}
{% endblock content %}