<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html lang="en">
	<head>
		{% load flatpages %}
		{% block extra-meta-data %}{% endblock %}		
		<title>{% block headtitle %}Big Large Huge{% endblock %}</title>
		<!-- Favicon -->
		<link rel="icon"  type="image/png" href="{{STATIC_URL}}favicon.ico">
		<!-- Meta -->
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Big Large Huge covers the stuff that you enjoy. Video games, movies, TV, comics. Best of all, the community decides what we cover!">
		<meta name="keywords" content="video games, movies, tv, comics, nerd culture">
		{% load static from staticfiles %}
		<!-- Stylesheets -->
		<link rel="stylesheet/less" type="text/css" href="{% static "css/global.less" %}">		
    {% block page-styles %}{% endblock %}
		{% block extra-includes %}{% endblock %}
		<!-- Scripts -->
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/modernizr-2.8.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static "js/less.js" %}"></script>
		<!-- Font js -->
		<script type="text/javascript">
			var woffEnabled = false;
			var customPath = "{{STATIC_URL}}";
		</script>
		<script type="text/javascript" src="{% static 'js/blh-fonts.js' %}"></script>
	</head>
	
	<body>
		<div class="biglargehuge">
			<header>
				<nav id="navigation">
					<a href="/"><div class="brand"></div></a>
					<ul id="global-bar" class="global-bar">
						<li><a href="/the-broadcast/" class="global-link">The Broadcast</a></li>
						<li><a href="/gameify/" class="global-link">Gameify</a></li>
						<li><a href="/great-moments-in-gaming/" class="global-link">Great Moments in Gaming</a></li>
						{% comment %}
						<li><a href="/features/" class="global-link">Features</a></li>
						{% if user.is_authenticated %}
						<li><a href="http://forums.biglargehuge.com" class="global-link">Forum</a></li>
						<li><a href="/accounts/profile/" class="global-link">My Profile</a></li>
						{% else %}
						<li><a href="/accounts/login/" class="global-link">Sign In</a></li>
						{% endif %}
						{% endcomment %}
						<li>
							<ul class="global-share">
								<li><a href="https://www.facebook.com/BigLargeHuge"><span class="icon-fb"></span></a></li>
								<li><a href="https://twitter.com/biglargehuge"><span class="icon-twitter"></span></a></li>
								<li><a href="https://plus.google.com/+Biglargehuge/posts"><span class="icon-gplus"></span></a></li>
							</ul>
						</li>					
					</ul>	
				</nav>
			</header>
			{% block content %}{% endblock %}		
			<footer id="footer" class="footer">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
							<ul class="footer-social">
								<li class="tw"><a href="https://twitter.com/biglargehuge" target="_blank"><span class="icon-twitter"></span></a></li>
								<li class="fb"><a href="https://www.facebook.com/BigLargeHuge" target="_blank"><span class="icon-fb"></span></a></li>
								<li class="gp"><a href="https://plus.google.com/+Biglargehuge/posts" target="_blank"><span class="icon-gplus"></span></a></li>
							</ul>
						</div>
										
					</div>
				</div>
			</footer>
			{% block endjs %}{% endblock %}
			<script type="text/javascript" src="{% static "audiojs/audio.min.js"%}"></script>
			<script>
			  audiojs.events.ready(function() {
			    var as = audiojs.createAll();
			  });
			</script>
			
			<script type="text/javascript">
	
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-28079996-1']);
			  _gaq.push(['_setDomainName', 'biglargehuge.com']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
			</script>
		</div>
	</body>
</html>