<div class="share">
<ul class="sharing">
<li><a href="https://itunes.apple.com/us/podcast/blh-broadcast/id491980334" class="minor-btn itunes" target="_blank">iTunes</a></li>
<li><a href="http://feeds.feedburner.com/blh" class="minor-btn rss" target="_blank">RSS</a></li>
<li><div class="fb-like" data-send="false" data-layout="button_count" data-width="40" data-show-faces="false"></div></li>
<li><div class="g-plusone" data-size="medium" data-annotation="none"></div></li>
<li><su:badge layout="1"></su:badge></li>
<li><a href="https://twitter.com/share" class="twitter-share-button" data-via="biglargehuge" data-size="90px" data-hashtags="biglargehuge">Tweet</a></li>

</ul>
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>

