{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: Blind Buy{% endblock %}
{% load static from staticfiles %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/blindbuy.less" %}">
{% endblock %}
{% block content %}
<div id="blindbuy">
	<section class="wrapper white-bg">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1 class="blindbuy-logo-lg">Blind Buy</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="wrapper">
		<div class="container">
			<div class="row">
				{% for bb in object_list %}
				<div class="span12">
					<div class="blindbuy-list-item">
						<h2 class="med-title"><a href="/blind-buy/{{ bb.slug }}">{{ bb.title }}</a></h2>
						<div class="cover">
							{{bb.video|safe}}
						</div>
						
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endblock %}