{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: Blind Buy{% endblock %}
{% load static from staticfiles %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/blindbuy.less" %}">
{% endblock %}
{% block content %}
<div id="blindbuy">
	<section class="wrapper white-bg">
		<div class="container">
			<div class="row">
				<div class="span8">
					<h1 class="blindbuy-logo-lg">Blind Buy</h1>
				</div>
				<div class="span4 episode">
					<h2>EPISODE<span class="yellow">{{bb.episode}}</span></h2>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper black-bg blind-buy-lead-video">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h2 class="section-title">{{bb.title}}</h2>
					{{bb.video|safe}}
					{% include "share.html" %}
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span8">		
					<ul class="unstyled inline">
					{% for platform in bb.game.platform.all %}
						<li><div class="platform {{ platform.slug }}">{{platform.title}}</div></li>
					{% endfor %}
					</ul>
				{{ bb.content|safe }}
				</div>
			</div>
		</div>
	</section>	
</div>	
{% endblock %}