{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: GREAT MOMENTS IN GAMING - {{gmig.title}}{% endblock %}
{% load static from staticfiles %}
{% load disqus_tags %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/greatmoments.less" %}">
{% endblock %}

{% block meta_description %}
	{{gmig.content|safe}}
{% endblock %}

{% block content %}
<div id="greatmoments">

  <section id="hero" class="featured-hero">
    <div class="overlay"></div>
  	<figure class="cover">
  		{%if gmig.cover%}
			<img src="/media/{{ gmig.cover}}" alt="{{gmig.title}}" />
			{%else%}
			<img src="/media/{{ gmig.game.cover}}" alt="{{gmig.game.title}}" />
			{%endif%}
  	</figure>
  </section>

	
	<section class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="title">{{gmig.title}}</h1>
					{% include "share.html" %}				
				</div>	
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					{{gmig.content|safe}}
					
					{%if gmig.video %}
					<div class="gmig-video-wrapper">
						{{gmig.video|safe}}
					</div>
					{%endif%}
				</div>
				
				{% comment %}
				<div class="col-lg-3 col-lg-offset-1">
  				<div class="sidebar">	
  					<h4>Other Great Moments</h4>
  					<div class="othermoments">
  						{% for moments in othermoments %}
  							<ul class="unstyled single-item-list">
  							<li class="item-cover-img"><a href="/great-moments-in-gaming/{{moments.slug}}">
  							{%if moments.cover%}
  							<img src="/media/{{ moments.cover }}" alt="{{moments.title}}" />
  							{%else%}
  							<img src="/media/{{ moments.game.cover }}" alt="{{moments.game.title}}" />
  							{%endif%}</li>
  							
  							<li class="item-title"><h5>{{moments.title}}</h5>
  							</a></li>
  							</ul>
  						{% endfor %}
  					</div>
					</div>
				</div>
			 {% endcomment %}
			 
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					{% disqus_show_comments %}
				</div>			
			
			</div>
		</div>
	</section>

</div>
{% endblock %}