{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: Games{% endblock %}
{% load static from staticfiles %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/games.less" %}">
{% endblock %}
{% block content %}
<div id="games">
	<section class="main-title-wrap">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>Games</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper">
		<div class="container">
			<div class="row">
				{% for games in games %}
				<div class="span4">
					<a href="/games/{{ games.slug }}">
						<ul class="unstyled single-item-list">
							<li class="item-cover-img"><img src="/media/{{ games.cover }}" alt="{{games.title}}" /></li>
							<li class="item-title"><h4>{{games.title|truncatewords:5}}</h4></li>
						</ul>
						
						
					</a>
				</div>
				{% empty %}
					<h2>We got nothin' for ya</h2>
				{% endfor %}
			</div>
		</div>
	</section>
</div>

{% endblock %}