{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: REVIEWS{% endblock %}
{% load static from staticfiles %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/reviews.less" %}">
{% endblock %}
{% block content %}
<div id="reviews">
	<section class="main-title-wrap">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>REVIEWS</h1>
				</div>
			</div>
		</div>
	</section>	
	
	<section class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="alert alert-info">
						<strong>We do reviews now!</strong>: <a href="/how-we-review-games/">How do we review games exactly?</a>
					</div>
					{% include "share.html" %}
				</div>
				{% for r in reviews %}
				<div class="span6">
					<ul class="review unstyled {{r.verdict.slug}}">
						{% if r.content %}
						<li class="review-title">
							<a href="/reviews/{{r.slug}}/">
								<h4>&#8250; {{r.title}}</h4>
							</a>
						</li>
						{% else %}
						<li class="review-title">
							<h4>&#8250; {{r.title}}</h4>
						</li>
						{% endif %}				
						<li class="review-img-wrap"><img src="/media/{{r.game.cover}}" class="review-img" alt="{{r.game.title}}"></li>
						<li class="review-breakdown"><h5>&#8220;{{r.breakdown|safe}}&#8221;</h5></li>
						<li class="review-verdict-{{r.verdict.slug}}">
							<ul class="unstyled inline">
								<li><span></span></li>
								<li><b class="verdict">{{r.verdict}}</b></li>
							</ul>
						</li>
					</ul>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endblock %}