{% extends "header.html" %}
{% block headtitle %}BIG LARGE HUGE: REVIEWS - {{review.title}}{% endblock %}
{% load static from staticfiles %}
{% block page-styles %}
	<link rel="stylesheet/less" type="text/css" href="{% static "css/reviews.less" %}">
{% endblock %}
{% block content %}
<div id="reviews">
	<section class="main-title-wrap">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1 class="main-review-title">{{review.title}}</h1>
				</div>
			</div>
		</div>
	</section>	
	
	<section class="wrapper">
		<div class="container">
			<div class="row">
				<div class="review-single">
					<div class="span12">
						<div class="review-img-wrap"><img src="/media/{{review.game.cover}}" class="review-img" alt="{{review.game.title}}"></div>
					</div>

					<div class="span12">
						<div class="review-content">
							{{review.content|safe}}
						</div>
						<div class="review-breakdown">
							<h2>&#8220;{{review.breakdown|safe}}&#8221;</h2>
						</div>
					</div>
					<div class="span12">
											<ul class="unstyled {{review.verdict.slug}}">
							<li class="review-verdict-{{review.verdict.slug}}">
								<ul class="unstyled inline">
									<li><span></span></li>
									<li><b class="verdict">{{review.verdict}}</b></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}