{% extends "header.html" %}
{% block headtitle %}Podcasts: Gameify{% endblock %}
{% load static from staticfiles %}
{% block content %}
<section id="detail-content" class="wrapper spaced">
	<div class="container">		
		<div class="row">
			
		<!-- content block -->				
			{% for gameify in gameifycast %}
        {% if forloop.counter0 == 0 %}
  			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  				<div class="mod-content">
  					<a href="/gameify/{{ gameify.slug }}">
  						{% if gameify.cover %}
  						<div class="content" style="background-image:url(/media/{{ gameify.cover }});">
  						{% else %}
  						<div class="content" style="background-image:url({{STATIC_URL}}img/gameify-cover.jpg);">
  						{% endif %}	
  							<header class="content-info">
  								<span>
  									<h4>{{ gameify.title }}</h4>
  								</span>
  							</header>
  							<span class="overlay"></span>
  						</div>
  					</a>
  				</div>
  			</div>

  			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  				<div class="lead-description">
  				<p>How do you GAMEify hallucinations? What type of video game would the movie <i>Memento</i> make? Questions that have plagued mankind for, literally, days. We stepped up to answer these pressing queries in the GAMEify podcast. Hosted by Justin Jordan (Digital Artist and Indie Game Creator), the GAMEify podcast grabs topics from the day to day world and use those topics to concept video games. Nothing is off the table and every idea is accepted. Welcome to our brainstorming sessions!</p>
  				{% include "share.html" %}
  				</div>
  			</div>
        
        {% else %}
  			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  				<div class="mod-content">
  					<a href="/gameify/{{ gameify.slug }}">
  						{% if gameify.cover %}
  						<div class="content" style="background-image:url(/media/{{ gameify.cover }});">
  						{% else %}
  						<div class="content" style="background-image:url({{STATIC_URL}}img/gameify-cover.jpg);">
  						{% endif %}	
  							<header class="content-info">
  								<span>
  									<h4>{{ gameify.title }}</h4>
  								</span>
  							</header>
  							<span class="overlay"></span>
  						</div>
  					</a>
  				</div>
  			</div>
  			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}
