{% extends "article.html" %}
{% block headtitle %}Podcast: Gameify Episode {{gameify.episode}}{% endblock %}
{% load disqus_tags %}


{% block lead_img_src %}{{ STATIC_URL }}img/gameify-cover-lg.jpg{% endblock %}
{% block lead_img_alt %}Gameify Episode {{ gameify.episode }}{% endblock %}
{% block category_title %}Podcasts{% endblock %}
{% block content_title %}Gameify: EPISODE {{gameify.episode}}{% endblock %}
{% block date_tag %}{{ gameify.date }}{% endblock %}
{% block detail-content %}
<div class="cast-masthead">
	<audio src="/media/{{gameify.podcast}}" preload="auto"></audio>
	<a class="btn btn-info" href="/media/{{ gameify.podcast }}">Download Episode {{gameify.episode}}</a>
</div>
{% if gameify.subtitle %}
  <h2>{{gameify.subtitle}}</h2>
{% endif %}
{{gameify.content|safe}}
{% endblock %}


{% comment %}
<div id="gameify">
	<section class="heroWrapper">
		<h1 class="title">Gameify Episode {{gameify.episode}}</h1>
		<div class="overlay"></div>
		<div class="heroImg">
		{% if gameify.cover %}
			<img src="/media/{{ gameify.cover }}" alt="{{gameify.title}}">
		{% else %}
		  <img src="{% static 'img/gameify-cover.jpg' %}" alt="Gameify">
		{% endif %}
		</div>
	</section>

	<section class="wrapper">
		<div class="container">
			
			<div class="row">				
				<div class="span12">
					<h2>Listen to Episode {{gameify.episode}}</h2>
					<audio src="/media/{{gameify.podcast}}" preload="auto"></audio>
					
					<a class="btn btn-info" href="/media/{{ gameify.podcast }}">Download Episode {{gameify.episode}}</a>
					{% include "share.html" %}
				</div>
				
				<div class="span12">
				  <div class="gameify-body-content">
  				  {% if gameify.subtitle %}
  				    <h2>{{gameify.subtitle}}</h2>
  				  {% endif %}
  					{{gameify.content|safe}}
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="span12">
					{% disqus_show_comments %}
				</div>
			</div>
		</div>
	</section>
</div>

  {% endcomment %}